<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    
   
</head>
<body>
    
<div class="container">

    <div class="input-group mb-3 justify-content-center">
        <h2 style="color: rgb(47, 120, 215);"> <b>RESTOCK INVENTORY</b> </h2>
    </div>

<div class="row">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Select item" aria-label="Text input with dropdown button" />
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Ingredient
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Chicken</a></li>
              <li><a class="dropdown-item" href="#">Beef</a></li>
              <li><a class="dropdown-item" href="#">Rice</a></li>
              <li><a class="dropdown-item" href="#">Flour</a></li>
            </ul>
          
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Quantity" aria-label="Text input with dropdown button" />
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Quantity
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Kg</a></li>
              <li><a class="dropdown-item" href="#">Pcs</a></li>
            </ul>
          
      </div>

      
</div>


</body>
</html>
