@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.display1{
    font-family: agbalumo;
    font-size: 70px;
}




.menu-category-logo{
    height: 70px;
    width: 70px;
}

.menu-category{
    margin: 5px 5px;
}

.menu-item-picture{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.menu-items{
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    
}



